:root {
  --ink: #333;
  --paper: #ddd;
  --accent: #b9fac3
}

html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--ink);
  background-color: var(--paper);
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  /* height: 12px;
  width: 12px; */
  accent-color: var(--accent);
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.headerLogo {
  width: 32px;
  height: 32px;

}

.todo-list-items {
  display: flex;
  /* flex-direction: column; */
  gap: 12px;
}

.delete-btn {
  border: none;
  background-color: inherit;
  width: 20px;
  height: 20px;
}

/* Color: #3F51B5 */
/* Color: #b9fac3 */
