:root {
  --ink: #333;
  --paper: #A3B4A2;
  /* --accent: #b9fac3; */
  /* --accent: #CDC6AE; */
  /* --accent: #B399A2; */
  --accent: #986C6A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", "Trebuchet MS", Arial, sans-serif;
  color: var(--ink);
  background-color: var(--paper);
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.8rem;
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
}

ul {
  list-style: none;
}



button,
select,
input {
  /* background-color: #ffebb3; */
  /* color: #5a3e2b; */
  font-family: inherit;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 3.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  accent-color: var(--accent);
}

.app {
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh;
  /* border: 4px solid #333; */
  border-radius: 12px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 3.2rem;

  /* border: 5px solid #333;
  border-radius: 10px; */
}

.header-img {
  width: 48px;
  height: 48px;
}

.add-form {
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

.form-input {
  width: 70%;
}

.add-btn {
  background-color: var(--accent);
}

.actions {
  padding: 1.2rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
}

.todo-list {
  /* border: 1px solid red; */
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  padding: 1.2rem 3.2rem;
  width: 90%;
  margin: 0 auto;

  font-size: 3.2rem;
  font-weight: 600;

  /* letter-spacing: 0.5px; */
}

.todo-list-item {
  display: flex;
  align-items: center;
  gap: 1.2rem
}

.delete-btn {
  border: none;
  background-color: inherit;
  width: 20px;
  height: 20px;
  padding: 0;
}

.stats {
  padding: 1.6rem 3.2rem;
}

/* Color: #3F51B5 */
/* Color: #b9fac3 */
